*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    background-color: beige;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    aspect-ratio: 3/5;
    background-color: beige;
    border-radius: 2vw;
    box-shadow: 0 0 15px grey;
}
/* @media (min-width:700px) {
    #body{

    }
} */
h1{
    color: rgb(87, 86, 86);
    font-size: 7vw;
}
#inputs{
    display: flex;
    flex-direction: column;
}
label, input, button, #tip-text{
    font-size: 3vw;
}
button{
    aspect-ratio: 4/2;
    border: 1px solid bisque;
    border-radius: 2vw;
    width: 12vw;
    cursor: pointer;
}
button:hover{
    background-color: teal;
    transition-duration: 0.3s;
}
button:active{
    background-color: yellow;
}
#split-or-spin{
    display: flex;
    justify-content: center;
    align-items: center;
}
#split{
    width: 13vw;
    aspect-ratio: 1;
    font-weight: bold;
    font-size: 3vw;
    border-radius: 50%;
    color: rgb(1, 86, 86);
}
#spin{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 40vw;
    aspect-ratio: 1;
    border: 1vw solid green;
    border-radius: 50%;
    background: conic-gradient(
        yellow 0deg 60deg,
        blue 60deg 120deg,
        pink 120deg 180deg,
        brown 180deg 240deg,
        grey 240deg 300deg,
        white 300deg 360deg
    );
    transition: transform 4s ease-out;

}
#spinner{
    position: absolute;
    background-color: red;
    width: 2vw;
    aspect-ratio: 1;
    top: 50%;
}