*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2vw;
    background-color: beige;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-width: fit-content;
    aspect-ratio: 3/5;
    background-color: beige;
    border-radius: 2vw;
    box-shadow: 0 0 15px grey;
    padding-bottom: 2vw;
}
@media (min-width: 720px) {
    #body{
        width: 100vw;
        justify-content: flex-start;
    }
}
#title{
    margin: 3vw;
 }
h1{
    color: rgb(87, 86, 86);
}
#bill{
    display: flex;
    flex-direction: column;
}
#inputs{
    display: flex;
    flex-direction: column;
}
label, input, button, #tip-text{
    font-size: clamp(20px,20px,40px);
    margin: 1px;
}
button{
    aspect-ratio: 2/1;
    border: 1px solid bisque;
    background-color: rgb(245, 215, 178);
    color: rgb(1, 79, 79);
    border-radius: 15px;
    width: 70px;
    cursor: pointer;
}
button:hover{
    background-color: teal;
    color: bisque;
    transition-duration: 0.3s;
}
button:active{
    background-color: brown;
}
#percent-buttons{
    display: flex;
}
#split-or-spin{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#split-btn, #spin-btn{
    padding: 8px;
    width: fit-content;
    max-width: 120px;
    aspect-ratio: 1;
    font-weight: bold;
    font-size: clamp(2vw,25px,40px);
    border-radius: 50%;
    color: rgb(1, 86, 86);
}
#spin-btn:hover, #split-btn:hover{
    color: bisque;
}
#or{
    color: rgb(0, 69, 69);
    font-weight: bold;
}
p, input{
    font-size: clamp(15px, 20px, 40px);
}

#instruction{
    padding: 1vw;
    margin-bottom: 2vw;
    text-align: center;
}
/* #split-bill{

} */
#spin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: clamp(220px, 40vw,350px);
    aspect-ratio: 1;
    border: 5px solid hsl(180, 100%, 25%);
    border-radius: 50%;
    /* background: conic-gradient(
        yellow 0deg 60deg,
        blue 60deg 120deg,
        pink 120deg 180deg,
        brown 180deg 240deg,
        grey 240deg 300deg,
        white 300deg 360deg
    ); */
    transition: transform 4s ease-out;

}
/* #spinner{
    position: fixed;
    background-color: red;
    width: 6vw;
    height: 10vw;
    top: 30%;
    clip-path: polygon(21% 0, 50% 100%, 87% 0%);
} */

#spinwheel-arrow-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow{
    font-size: clamp(20px, 10vw, 35px);
    transform: scaleY(0.5);
}
 #input-spin-flex{
    display: flex;
    flex-direction: column;
 }
 @media (min-width: 720px) {
    #input-spin-flex{
        flex-direction: row;
        margin: 5wv;
        width: 70vw;
        justify-content: space-evenly;
        align-items: center;
    }
 }
 #last-section{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: clamp(20px, 10vw, 35px);
    color: teal;
 }